*{
	
	box-sizing: border-box;
}


body{
	width: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(rgb(255, 255, 255),rgb(246, 146, 30));
	background-repeat: no-repeat;
}
#natoraCabecalho{
	width: 100%;
	min-height: 50vh;
	/*display: flex;*/
}
@media(max-width: 640px){
	#natoraCabecalho{
		/*width: 100%;*/
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
}
.menu{
	width: 100%;
	height: 15vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;

}
@media(max-width: 640px){
	.menu{
		/*background-color: red;*/
	}
}
.menu-item{
	padding: 18px;
	font-family: sans-serif;
	font-size: 30px;
	font-style: normal;
	color: #000;
	line-height: 31.2px;
	text-align: center;
	letter-spacing: 0.04em;

	text-decoration: none;
}
@media(max-width: 640px){
	.menu-item{
		font-size: 17px;
		padding: 0 10px;


		/*background-color: blue;*/
	}
}
.menu-item:hover {
	text-decoration: underline;
}
.natoraLogo{
	width: 17%;
	padding-top: 15vh;
}
.natoraLogo-mobile{
	display: none;
	width: 50%;
	height: 6%;
	margin: 0 auto;
	margin-top: 15vh;
}
@media(max-width: 640px){
	.natoraLogo{
		width: 50%;
		display: none;
	}
	.natoraLogo-mobile{
		display: inline;
	}
}
.natora{
	font-family: arial;
	font-size: 50px;
	font-style: normal;
	text-align: left;
	line-height: 90px;
	text-transform: uppercase;
	padding-top: 2vh;
	padding: 0 10px;
	margin: 0 11%;
}
@media(max-width: 640px){
	.natora{
		font-size: 29px;
		width: 100%;
		
	}
}
.natoraPeriferia{
	width: 28%;
	height: 7%;
}
@media(max-width: 640px){
	.natoraPeriferia{
		width: 100%;
		display: none;
	}
}
.natoraTitulo-part1{
	color: rgb(0, 0, 255);
}
.natoraTitulo-part2{
	color: rgb(255, 0, 0);
}
.natoraTitulo-part3{
	color: rgb(57, 180, 74);
}
.natoraTitulo-part4{
	color: rgb(246, 146, 30);
	vertical-align: top;
}
.natoraTitulo-part5{
	color: rgb(0, 0, 0);
	width: 50px;
	vertical-align: top;
}
#natoraSobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	/*margin-right: 22%;
	margin-left: 22%;*/
	margin: 0 22%;
	padding-top: 15vh;
}
@media(max-width: 640px){
	#natoraSobre{
		width: 100%;
		margin: 0;
	}
}
.natoraSobre-item{
	font-family: sans-serif;
	font-size: 20px;
	color: rgb(0, 0, 0);
	font-style: normal;
	text-align: left;
	line-height: 38px;
	letter-spacing: 0em;
}
@media(max-width: 640px){
	.natoraSobre-item{
		width: 90%;
		align-items: center;
	}
}
#natoraAcoes{
	width: 100%;
	padding-top: 10vh;
	margin-top: 12%;
	margin-bottom: 14%;
	align-self: center;
	display: flex;
	justify-content: center;

}
@media(max-width: 640px){
	#natoraAcoes{
		flex-direction: column;
		align-items: center;
	}
}
.natoraAcoes-item{
	width: 25%;
	height: 13%;
	padding: 2%;
}
@media(max-width: 640px){
	.natoraAcoes-item{
		width: 90%;
	}
}
.cineNatora-mobile{
	display: none;
}
@media(max-width: 640px){
	.cineNatora-mobile{
		width: 100%;
		display: block;
	}
}
.campeonatoTravinha-mobile{
	display: none;
}
@media(max-width: 640px){
	.campeonatoTravinha-mobile{
		width: 100%;
		display: block;
	}
}
.sarauNatoArte-mobile{
	display: none;
}
@media(max-width: 640px){
	.sarauNatoArte-mobile{
		width: 100%;
		display: block;
	}
}
.Acoes-item{
	text-decoration: underline;
	text-align: left;
	font-size: 18px;
	font-style: normal;
	font-family: sans-serif;
	color: rgb(0, 0, 255);
	text-transform: uppercase;
}
.Acoes-paragrafo{
	text-align: left;
	line-height: 28px;
	letter-spacing: 0.01em;
	font-style: normal;
	font-size: 16px;
	font-family: arial;
	color: rgb(0, 0, 0);
}
.Acoes-link{
	text-decoration: underline;
	text-align: left;
	font-size: 20px;
	color: rgb(255, 0, 0);
	font-style: normal;
	font-family: sans-serif;
	text-transform: uppercase;
}
@media(max-width: 640px){
	.Acoes-link{
		display: none;
	}
}
#rodaPe{
	width: 100%;
	display: flex;
	padding-top: 25vh;
}
@media(max-width: 640px){
	#rodaPe{
		padding-top: 26vh;
	}
}
.natoraContato{
	width: 100%;
	margin: 0 25%;
}
@media(max-width: 640px){
	.natoraContato{
		margin: 0;
	}
}
.natoraLogo-contato{
	width: 20%;
}
@media(max-width: 640px){
	.natoraLogo-contato{
		display: none;
	}
}
.itemContato{
	font-family: sans-serif;
	font-size: 29px;
	text-transform: uppercase;
}
@media(max-width: 640px){
	.itemContato{
		font-size: 18px;
		text-align: center;
	}
}
.itemContato-socialweb{
	width: 14%;
}
@media(max-width: 640px){
	.itemContato-socialweb{
		width: 22.6%;
		margin: 0 5%;
		}
}